<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CAPACITOR_DEBUG</key>
	<string>$(CAPACITOR_DEBUG)</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
        <string>Fill &amp; Sell</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
	<key>NSMicrophoneUsageDescription</key>
	<string>Fill &amp; Sell uses the microphone for voice input of your stock and sales. / Fill &amp; Sell utilise le microphone pour la saisie vocale de votre stock et vos ventes.</string>
	<key>NSCameraUsageDescription</key>
	<string>Fill &amp; Sell uses the camera to analyse your items with the Lens feature. / Fill &amp; Sell utilise la caméra pour analyser vos articles avec la fonction Lens.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Fill &amp; Sell accesses your gallery to analyse item photos with the Lens feature. / Fill &amp; Sell accède à votre galerie pour analyser vos photos d'articles avec la fonction Lens.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Fill &amp; Sell may save item photos to your gallery. / Fill &amp; Sell peut enregistrer des photos de vos articles dans votre galerie.</string>
</dict>
</plist>
